# Ignore everything in the data directory
data/test/*
data/train/*
data/**/test/*
data/**/train/*
data/processed/*
data/.DS_Store
.DS_Store
EDA/.DS_Store

# Ignore pycache files
__pycache__/

# Ignore Jupyter Checkpoints in any parent directory
**/.ipynb_checkpoints